@CHARSET "ISO-8859-1";
.navbar{
height:auto;
}
.carousel-indicators{
	height:100%;
	width:100%;
	margin-right:auto;
	

}
myCarousel{
	background-size:cover;
background-position: center;
}
footer{
	margin-right: auto;
}